@use 'sass:map';
@use './colors.scss' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: "Rubik", sans-serif;
  background-color: map.get($colors, 'neutral-grey-50');
  color: map.get($colors, 'neutral-grey-600');
  overflow-x: hidden;
}
button{
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}
li{
  list-style-type: none;
  cursor: pointer;
}
a{
  text-decoration: none;
}
img{
  display: block;
  width: 100%;
}
h1,h2,h3,h4,h5,h6{
  color: map.get($colors, 'neutral-blue-950');
}
p,a{
  line-height: 150%;
  color: map.get($colors, 'neutral-grey-600');
}